header {
  background-color: rgb(56, 56, 56);
}

header a {
  color: whitesmoke;
}
header a:hover {
  color: wheat;
  padding: 0.5rem;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1rem;
}
