* {
  box-sizing: border-box;
}

html {
  font-family: Bahnschrift, sans-serif;
  line-height: 1.8;
  line-height: lh(26px);
  height: 100%;
  @media (max-width: 1300px) {
    font-size: 13px;
  }
}

body {
  margin: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0 0 1rem;
  line-height: lh(40px, 29px);
}

h1 {
  font-size: rem(60px);
}

h2 {
  font-size: em(16px);
  margin: em(63px) 0;
  text-transform: uppercase;
}

h3 {
  font-size: em(29px);
}

img {
  width: 100%;
}

.btn {
  @include btn;

  &-dark {
    @include btn($type: dark);
  }

  &-light {
    @include btn($type: light);
  }
}

// links
a {
  color: $linkColor;
  text-decoration: none;
  &.active {
    background-color: $linkColor;
    color: $linkColor;
    text-decoration: none;
  }
}
