.clean-list {
  list-style: none;
}

.flex {
  display: flex;
}

.justify-align {
  align-items: center;
}

.justify-b {
  justify-content: space-between;
}

.justify-c {
  justify-content: space-between;
}
