/* MAIN LAYOUT */

body,
html {
  height: 100%;
}

.main-layout {
  max-width: 1080px;
  padding: 0 1rem;
  margin: 0 auto;
}

#app {
  height: 100%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-app {
  padding: 1rem 0;
  min-height: max(90vh, 90%);
}
